.nav-bar{
    width: 100%;
    height: 50px;
    margin-top: 10px;
    border-bottom: 1px solid black;
}
h2{
    margin-top: 0;
}   
.nav-bar ul li{
    display: inline-block;
}
.nav-bar .nav-btns{
    float:right;
    margin-left: 5px;
}