
.search_bar{
    width: 100%;
    height: auto;
    margin-top: 20px;
    text-align: center;
}
.search_bar ul{
    width:185px;
    padding: 0;
    list-style: none;
    margin-right: auto;
    margin-left: auto;
}

#city_name{
    width: 200px;
    margin-left: auto;
    margin-right: auto;
}

