
.display_cities{
    border: 1.5px solid black;
    margin-top: 10px;
    width: auto;
    min-height: 400px;
    height: auto;
    text-align: center;
    margin-left: auto;
    margin-right: auto;

}
.top_section{
    width: 100%;
    height: auto; 
}
.tlv_default{
    width: 100px;
    height: 100px;
    border: 0.5px solid black;
    margin-left: 10px;
    margin-top: 10px;
}
.top_section_list{
    width: 100%;
    height: auto;
    padding: 0;
    display: inline-flex;
    list-style: none;
}
.add_favorites{
    margin-left: auto;
    margin-right: 10px;
    margin-top: 10px;
}
.dsc_heading{
   margin-top: 20px;
   display: flex;
   justify-content: center;
   align-items: center;
}

.display_days_and_degrees{
    width: auto;
    height: auto;
    margin: 0;
}

.row{
    margin:0; 
    margin-top: 50px;
}


@media only screen and (min-width: 767px) {
    .row{
        margin:0; 
        display: flex;
        justify-content: space-evenly;
        margin-top: 50px;
    }
  }


#ac_results{
    display: none;
}
  
  
.day_box{
    border: 0.5px solid black; 
    height: 100px;
    margin-top: 10px;

}
.display_days_and_degrees{
   width: 100%;
   height: auto;

}
#today_temp{
    font-weight: 900;
}
#show_store{
    display: none;
}
.city_details{
    margin-left: 10px;
}

